snippet mail-header header for outgoing mail
	From: Tarak Shah <tarak@hrdag.org>
	To:
	Cc:
	Subject:

snippet From header for outgoing mail
	From: Tarak Shah <tarak@hrdag.org>
	To:
	Cc:
	Subject:

snippet from header for outgoing mail
	From: Tarak Shah <tarak@hrdag.org>
	To:
	Cc:
	Subject:
