snippet mail-header "header for outoing mail"
From: Tarak Shah <tarak@hrdag.org>
To:
Cc:
Subject:
endsnippet

snippet From "header for outoing mail"
From: Tarak Shah <tarak@hrdag.org>
To:
Cc:
Subject:
endsnippet

snippet from "header for outoing mail"
From: Tarak Shah <tarak@hrdag.org>
To:
Cc:
Subject:
endsnippet
