snippet maketask "basic makefile"
.PHONY: all clean

all: $1

clean: 
		-rm -r output/*

$1:

endsnippet

snippet here "here() for consistent project context"
HERE := $(shell Rscript --vanilla -e 'write(here::here(), stdout())')
endsnippet
