snippet shebang
#!/usr/bin/env python3
endsnippet

snippet main
if __name__ == '__main__':
endsnippet

snippet args
def getargs():
    parser = argparse.ArgumentParser()
    parser.add_argument("--$1", default="$2")
    return parser.parse_args()
endsnippet
