snippet %>% "dplyr groupby summary"
$0%>%
	group_by($1) %>%
	summarise(n = n(), $2)
endsnippet

snippet test_that "testthat unit test"
test_that($1, {
	$2
})
endsnippet

snippet args "task argument parsing"

parser <- ArgumentParser()
parser$add_argument($1, default = $2)
args <- parser$parse_args()
endsnippet

snippet switch "switch statement"
switch(
	$0
)
endsnippet

snippet pacman "install/load script dependencies"
library(pacman)
pacman::p_load("argparse"$0)
endsnippet
