snippet --- "Rmd frontmatter"
---
title:
author:
- "[Tarak Shah](https://hrdag.org/people/tarak-shah/)"
date: `date +"%d %B, %Y"`
output: html_document
---
endsnippet

snippet frontmatter "Rmd frontmatter"
---
title:
author:
- "[Tarak Shah](https://hrdag.org/people/tarak-shah/)"
date: `date +"%d %B, %Y"`
output: html_document
---
endsnippet
